@import url('https://fonts.googleapis.com/css?family=Vampiro+One');

body {
  background-color: #EEF7F9;
}

footer {
  min-height: 100px;
}

section.store {
  border: 2px solid #5F464B;
  border-radius: 10px;
  line-height: 1.4em;
  margin: 0 20px 50px 0;
  width: 400px;
  float: left;
}

header {
  height: 94px;
  padding-bottom:40px;
}

header h1 {
  display: inline;
  font-size: 2em;
  color: #5F464B;
  font-family: 'Vampiro One', cursive;
}

h2 {
  color: #8E4A49;
  margin: 0;
}

* {
  font-family: Arial;
  color: #5F464B;
}

/* sales table styles */
section#sales-table {
  margin: 40px;
}

table#sales {
  border-collapse: collapse;
  background-color: rgba(75, 104, 88, 0.3);
  margin-top: 16px;
}

table#sales, th, td {
  border: 1px solid #9BC0BF;
}

td {
  height: 30px;
  padding: 7px 7px;
  text-align: center;
  color: #498C8A;
}

td.store-name {
  font-weight:bold;
  text-align: right;
  color: #5F464B;
}
tr.times td {
  font-size: .8em;
  font-weight: bold;
  text-transform: uppercase;
  color: #5F464B;
}

li.total {
  color: #8E4A49;
  font-weight: bold;
  margin: 20px 0 0 0;
  padding: 3px 0;
  display: block;
}

p {
  font-family: Georgia;
  line-height: 1.4em;
}

section#about-us {
  width: 50%;
  float: left;
  margin: 40px;
}
aside {
  width: 30%;
  float: left;
  margin: 40px 40px 40px 0;
  padding: 30px;
  background-color: rgba(75, 104, 88, 0.3);
}

aside h2 {
  color: #5F464B;
}

aside p, h2, h3 {
  margin: 0;
  padding: 0;
}

aside h3 {
  padding-top: 25px;
  padding-bottom: 5px;
}

/* Store list */
ul {
  padding-left: 0;
}

ul#stores {
  margin-bottom: 30px;
}

ul#stores li {
  list-style:none;
  list-style-position: outside;
  font-size: .9em;
  line-height: 1.2em;
}

ul#stores > li {
  font-weight: bold;
  font-size: 1em;
}

ul#stores ul {
  margin-top: 2px;
  margin-bottom: 15px;
}

/* Form styling */
form {
  width: 482px;
  margin-top: 30px;
}

fieldset {
  padding: 20px;
  margin-left: 40px;
}

input {
  width: 100%;
  height: 2em;
  margin-bottom: 10px;
}

span.range {
  display: block;
}

span.range input.range {
  width: 10%;
}

button#submit-button {
  height: 2.5em;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #4D4730;
  color: white;
  border-style: none;
}

label {
  font-size: .7em;
  text-transform: uppercase;
}

/*
#4D4730
#4B6858
#498C8A
#46ACC2
#42F2F7
*/
